.btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #eee;
    color: #555;
    border: none;
}

.primary {
    background-color: green;
    color: #fff;
}

.secondary {
    background-color: purple;
    color: #fff;
}

.outline {
    border: 1px solid;
    background-color: transparent;
}

.outline.primary {
    border-color: green;
    color: green;
}

.outline.secondary {
    border-color: purple;
    color: purple;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.imageWrapper {
    max-width: 300px;

    img {
        width: 100%;
    }
}